<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partial/head') %>
    <title>Document</title>
</head>
<body>
    <%-include('../partial/nav') %>
<div>
    <%=JSON.stringify(user)%>
</div>

    <%-include('../partial/script') %>
</body>
</html>