<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partial/head') %>
    <title>Document</title>
</head>
<body>
    <%-include('../partial/nav') %>


    <%-include('../partial/script') %>
</body>
</html>